/* palette 
Background Colour: #f7f7f7 (Light gray) 
Text Colour: #333333 (Dark gray)
Highlight Colour: #007acc (Blue)
*/
.App,
h1 {
  text-align: center;
  background-color: #333333;
  color: #f7f7f7;
  margin: 0px;
}


.App-main {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
}